@import '../../variables.scss';

#education  {

    .education-container {
        display: flex;
        overflow: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px;
    }
}