@import '../../variables.scss';

.primary-button {
    background-color: $primaryColor !important;
    color: white !important;
    font-size: 1em !important;
    &.green {
        background-color: $secondaryGreen !important;
    }
}
.outlined-button.MuiButton-outlined {
    border: 3px solid $primaryColor;
    color: $primaryBlack !important;
    font-size: 1em !important;

    &.green {
        border: 3px solid $secondaryGreen;
    }
}
