@import '../../variables.scss';

#quizz {
    width: 65vw;

    .progress-info {
        margin-top: 20px;
        text-align: center;
    }
    .progress {
        height: 20px;
        border-radius: 10px;
        position: absolute;
        width: 56vh;
        right: -100px;
        transform: rotate(90deg);
        top: calc(#{$navigation-height  } + 20vh);
    }
    .MuiLinearProgress-bar {
        background-color: $secondaryGreen;
    }
    .MuiLinearProgress-root {
        background-color: rgb(231, 229, 229);
    }
    .lesson-title{
        text-align: center;
    }
    .test-container {
        margin-top: 50px;
        
        .buttons {
            position: absolute;
            width: 65vw;
            bottom: 70px;
            height: 40px;

            .prev-step,.exit { 
                span {
                    color: white;
                }
            }
            .next-step {
                position: absolute;
                right: 100px;
            }
            .exit {
                margin-right: 20px;
            }
        }
    }
    .question {
        .question-title {
            text-align: center;
            margin-top: 0;
            font-size: 2.2em;
            color: $primaryColor;
        }
    }
    .answers {
        .answer {
            width: 49%;
            margin-bottom: 20px;
        }
        label .MuiFormControlLabel-label {
            font-size: 1.3em;
        }
        .MuiSvgIcon-root {
            width: 2em;
            height: 2em;
            color: $secondaryGreen;
        }
            
    }
}