@import '../../variables.scss';

main {
    position: relative;
    margin-left: $sidemenu-width;
    background-color: $primaryBlack;
    color: white;
    overflow: auto;

    
    @include media-query(phone) {
        margin-left: 0;
    }
}

// url  = '/' landing or dashboard
[class=" App"] {
    main {
        margin-left: 0;
    }
}