@import '../../variables.scss';

.job-offer-details-container {
    grid-template-columns: 5% 65% 25% 5%;
    display: grid;
    background-color: white;
    color: $primaryBlack;
    padding: 5% 0;

    .column-1 {
        grid-column-start: 2;
        grid-column-end: 3;
        padding-right: 40px;
    }
    .thumbnail { width: 100px;}

    .top-buttons {
        display: flex;
        flex-direction: column; 
        
        .primary-button, .outlined-button {
            margin-bottom: 20px;
        }
    }
    .bottom-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;

        .primary-button, .outlined-button {
            width: 30%;
        }
    }
    .job-offer-header{
        display: flex;
        align-items: center;

        .title {
            margin-left: 20px;
            color: $primaryColor;
        }
    }
    .job-offer-card {
        margin-bottom: 15px;
        .job-offer-img {
            width: 100px;
        }
        .location, .description {
            display: none;
        }
        .title {
            font-size: 1rem;
        }
    }
}