@import '../variables.scss';
.modal-window {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

    .modal-window-container {
        background-color: white;
        color: $primaryBlack;
    }
    h3 {
        margin-top: 0;
    }
    input {display: none;}
    #transition-modal-title {
        padding: 40px;
        color: white;
        text-align: center;
        margin: 0;
        font-size: 2em;
        background-color: $primaryColor;
    }
    .content {
        padding: 30px 50px 30px 50px;
        overflow: auto;
        max-height: 60vh;
    }
    &.cantApply .modal-window-container {
        max-width: 80vw;
        .content {
            padding-bottom: 0;
        }
        .lessons-needed {
            background-color: whitesmoke;
            padding: 40px;
        }
        .bottom-buttons {
            padding-bottom: 20px;
        }
    }
    &.lesson, &.default, &.exam, &.quizzExam {
       .modal-window-container {
           width: 600px;
       }
    }
    &.test {
        .answers {
            padding: 50px;
        }
    }
    &.apply {
        
        .grid {
            display: grid;
            grid-template-columns: 0% 33% 33% 33% 0%;
        }
        .job-title {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .job-employer {
            grid-column-start: 3;
            grid-column-end: 4;
        }
        .job-upload-cv {
            grid-column-start: 4;
            grid-column-end: 5;
            .upload-button {
                background-color: $primaryColor;
                color: white;
                padding: 5px 10px;
            }
        }
        .job-title, .job-employer, .job-upload-cv {
            p:not(.upload) {
                color: $primaryColor;
                font-size: 1.6em;
                font-weight: bold;
            }
        }
        .text-area {
            width: 100%;
        }
        .text-area-component {
            width: 100%;
        }
        
    }
    .bottom-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        button {
            width: 200px;
        }
    }
}