.profile-button {
    .points {
        position: absolute;
        font-size: 15pt;
        top: .9em;
        transform: translateX(-15%);
    }
}

.profile-button-popup-menu {
    
    a, svg {
        color: white;
    }
}