@import '../../variables.scss';

aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: $sidemenu-width;
    background-color: $primaryBlack;
    color: white;
    font-size: 1.3em;
    border-right: 1px solid white;
    position: fixed;
    z-index: 20;
    height: calc(100%  - #{$navigation-height});
    padding-top: 10vh;

    .profile-picture {
        height: 5em;
        width: 5em;

        img {
            height: 100%;
            margin-top: 1em;
        }
    }

    .links-container {
        font-size: .9em;
        margin-top: 30px;
        padding-left: 30px;
        display: inline;

        .sidemenu-link-icon {
            margin-right: 20px;
        }
        .sidemenu-link {
            margin-bottom: 25px;
            padding-right: 20px;
            &:hover {
                color: $primaryColor;
                svg {
                    color: $primaryColor;
                }
            }
        }

        .sidemenu-link, svg {
            display: flex;
            align-items: flex-end;
            transition: color $transition-length-short;
            color: white;
        }
    }
    
    @include media-query(phone) {
        display: none;
    }
}