@import '../../variables.scss';

.signup-signin-window {
    width: 100%;
    height: 100vh;
    display: flex;
    color: $primaryBlack;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .signup-signin-container {
        width: $signup-form-width;
    }
    .no-account {
        text-decoration: none;
        color: $primaryBlack;
        font-size: 1.2em;
    }
    .signup-signin-header {
        background-color: $primaryColor;
        color: white;
        height: 100px;
        display: flex;
        padding: 20px 50px;
        text-align: center;
        h1 {
            width: 100%;
            color: white;
            margin-top: 30px;
        }
        img {
            width: 100px;
        }
    }
    b {
        margin-bottom: 20px;
    }
    .other-login-options {
        margin-top: 20px;
    }
    .form-container {
        padding: 40px;
        background-color: white;
        >* {
            display: flex;
            flex-direction: column;    
        }
        hr {
            width: 100%;
        }
        .icons {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 20px 0 20px 0;
            .icon {
                display: flex;
                svg {
                    font-size: 3em;
                    color: $primaryColor;
                }
            }
        }
        .primary-button, .outlined-button {
            margin: auto;
        }
    }
}