$primaryBlack: #142537;
$primaryColor: #EA205A;
$hoverPrimaryColor: rgb(194, 87, 117);
$secondaryBlue: #304761;
$secondaryGreen: #35b1a4;

$navigation-height: 120px;
$signup-form-width: 35vw;
$sidemenu-width: 250px;
$filters-height: 80px;

$number-of-steps: 4;
$transition-length-short: .2s;
$card-margin-bottom: 15px;

$break-small: 500px;
$break-medium: 1300px;
$break-large: 1600px;

@mixin media-query($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screen {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  @else if $media == wide-screen {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == very-wide-screen {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
